.padding-spacer-md {
    padding: 30px 0;
}

.light-base {
    background-color: #fff;
}

#lfdbFeedStatusForm {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 1031;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    display: none;
}

@media only screen and (min-width: 992px) {

    #lfdbFeedStatusForm {
        position: relative;
        background: 0 0;
        display: block !important;
        width: auto;
        height: auto;
        overflow-y: visible;
        left: inherit;
        z-index: 1029;
    }

    #lfdbFeedStatusForm.sticky {
        position: fixed;
        top: 129px;
    }
}

.panel-group {
    margin-bottom: 20px;
}

.filter-widget.panel-group {
    border-radius: 10px;
    margin-top: 20px;
}

.search-block .filter-widget {
    margin-top: 0;
}

@media only screen and (min-width: 992px) {
    .search-block .panel-group#accordion {
        margin-bottom: 0;
    }

}

.filter-widget.panel-group .panel {
    border-radius: 10px;
    background-color: transparent;
}

.panel-group .panel:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.panel-group .panel:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.filter-widget.panel-group .panel .panel-heading {
    border-radius: 10px 10px 0 0;
    padding: 0;
}

.panel-default .panel-heading {
    background-color: #8dc63f;
    color: #fff;
    border: none;
}

.panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}

.panel-group .panel-heading {
    border-bottom: 0;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}

.search-block .panel-title {
    padding: 3px 15px !important;
}

.panel-default .panel-heading .panel-title {
    font-size: 24px;
}

.filter-widget.panel-group .panel .panel-heading .panel-title {
    border-radius: 10px 10px 0 0;
    padding: 10px 15px;
    background-color: #85a1b4;
    margin-left: 0;
    margin-right: 0;
}

.text-reverse,
#text-reverse {
    color: #fff;
}

.search-block h5 {
    font-size: .65em;
}

@media only screen and (min-width: 992px) {
    .search-block h5 {
        font-size: .55em;
    }

}

.filter-widget.panel-group .panel .panel-collapse {
    border-radius: 0 0 10px 10px;
    background-color: #fff;
}

@media only screen and (min-width: 992px) {
    .search-block #collapseOne {
        height: auto !important;
        display: block !important;
        border: 1px solid #d4d4d4;
        border-top: 0;
        max-height: 65vh;
        border-radius: 0;
        overflow-y: auto;
    }
}

.fido-blue-text {
    color: #85a1b4;
}

.search-block h4 {
    font-weight: 800;
}

.search-block h4.first {
    margin: 2px 0 10px;
}